{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Django Auth Tutorial{% endblock %}</title>
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'tasks/styles.css' %}" rel="stylesheet">
</head>
<body>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
<script src="jquery-3.5.1.min.js"></script>
<script type="text/javascript">
	document.querySelectorAll('input[type="text"]')[0].classList.add('form-control');
document.querySelectorAll('input[type="password"]')[0].classList.add('form-control');
document.querySelectorAll('input[type="password"]')[1].classList.add('form-control');
</script>
</html>